{{!< layout}}

<link rel="prefetch" href="/macro-view" />

<div class="page-container">
  <div class="page">

    <h2>Cacheable macro editor</h2>

    {{> timing}}

    {{> current-url}}

  </div>
</div>

<script>
  $(window).load(function() {
    function onSubmit() {
      var macroParams = {
          foo: "bar"
      };
      AP.confluence.saveMacro(macroParams);
      AP.confluence.closeMacroEditor();
      return true;
    }
    AP.dialog.getButton("submit").bind(onSubmit);
  });
</script>
