

/*
 App styles. References:
  * https://atlassian.design/guidelines/brand/color-1
*/

.intro-header h1 {
  font-size: 36px;
  line-height: 48px;
  padding-top: 0px;
}

.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 0px;
}

.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

div.page-container, body.page-container {
  background-color: #fff;
}

div.page {
  padding-left: 20px;
  padding-right: 20px;
}

.deep-dive {
  color: #0747A6;
}

.li-header {
  color: #0747A6;
}

span.code {
  color: #42526E;
  font-family: monospace;
  background-color: #fefefe;
}

.button-container {
  margin-top: 20px;
}

.centered {
  text-align:center
}

.good {
  color: #00875A;
}

.bad {
  color: #DE350B;
}

.wrappable {
  word-wrap: break-word;
  white-space: pre-wrap;
}
